<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Assignment5_McKennaTrussel_BookStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-dark">
 
    <div class="bg-light">
        <span class="navbar-brand ml-3">Read a Good Book!</span>
    </div>

    <div class="row m-1 p-1">
        <div class="col-3">
            <h1>Give the Gift of Books.</h1>
            @*vc is view component*@
            <vc:navigation-menu />
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>

</body>
</html>
