@{
    ViewData["Title"] = "Home Page";
}

@*@model IQueryable<Book>*@
@model BookListViewModel

<header>
    <h1 class="text-center text-info">McKenna's Online BookStore:</h1>
</header>


 
@foreach (var x in Model.Books)
{
    <partial name="BookSummary" model="x" />
}


<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
        page-class="btn" page-class-normal="btn-outline-light"
        page-class-selected="btn-info" page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1 pagination-lg"></div>

